$primary: #FED555;

@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'Lato';
}

h1 {
    font-weight: 800;
}

h2 {
    font-size: 1.25em;
    font-weight: 800;
}

.category-label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2em;
}

a {
    @extend .link-underline-dark;
    @extend .link-offset-2;
    @extend .link-underline-opacity-0;
    @extend .link-underline-opacity-75-hover;
    color: inherit;
}
